[%CACHE type:'gallery' id:'[@inventory_id@]'%]
<div class="col-8 col-sm-6 col-lg-4 col-xl-3 pb-2">
	<div class="card thumbnail card-body" itemscope itemtype="http://schema.org/Product">
		<meta itemprop="brand" content="[@brand@]"/>
		<meta itemprop="mpn" content="[@sku@]"/>
		<a href="[@URL@]" class="thumbnail-image pb-2">
			<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/ param%][%/asset_url%]" class="img-fluid" alt="[@model@]" rel="itmimg[@SKU@]">
		</a>
		<div class="caption text-center">
			<h4 itemprop="name" class="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' maxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</a></h4>
			<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				[%if [@inpromo@]%]
					Now&nbsp;[%if [@has_child@]%]from&nbsp;[%/if%]
					<meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
					<span itemprop="price" content="[@promo_price@]">[%format type:'currency'%][@promo_price@][%/format%]</span>
				[%else%]
					[%if [@has_child@]%]From&nbsp;[%/if%]
					<span itemprop="price" content="[@store_price@]">[%format type:'currency'%][@store_price@][%/format%]</span>
				[%/if%]
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			</p>
		</div>
	</div>
</div>
[%/CACHE%]
