<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
	[%load_template file:'headers/includes/head.template.html'/%]
	<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/>
	<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" media="all"/>
</head>
<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@]">
<div class="topbar navbar navbar-expand-md p-0">
	<div class="topbar-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<form class="topbar-form" name="productsearch" method="get" action="/">
						<input type="hidden" name="rf" value="kw"/>
						<div class="input-group">
							<input class="form-control ajax_search" value="[%nohtml%][%filter ID:'keywords'%][%/filter%][%/nohtml%]" id="name_search" autocomplete="off" name="kw" type="text"/>
							<span class="input-group-append">
								<button type="submit" value="Search" class="btn btn-default"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
				<div class="col-sm-5 col-md-6 col-lg-6">
					<ul class="topbar-nav nav navbar-nav h-100 align-items-center">
						[%cache type:'menu' id:'header-content-menu'%]
							[%menu id:'web_header'%]
								[%param *level_1%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]">
										<a href="[@url@]" class="nav-link [%if [@next_level@]%] dropdown-toggle[%/if%]">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_2%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]">
										<a href="[@url@]" class="nuhover dropdown-item">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_3%]
									<li class="[%if [@css_class@]%] [@css_class@][%/if%]">
										<a class="dropdown-item" href="[@url@]">[@name@]</a>
									</li>
								[%/param%]
							[%/menu%]
						[%/ cache%]
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-3">
					<ul class="nav navbar-nav ml-auto float-right h-100 align-items-center" role="navigation">
						<li class="nav-item dropdown dropdown-hover">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown" id="cartcontentsheader">
								<i class="fa fa-shopping-cart"></i> <span class="d-none d-lg-inline">Cart</span>(<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span>)
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="box" id="neto-dropdown">
									<div class="body padding" id="cartcontents"></div>
									<div class="footer"></div>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="[%url page:'checkout' type:'payment'/%]" class="nav-link">Checkout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper-header">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 wrapper-logo text-center text-sm-left">
				<a href="[@config:homeurl@]" title="[@config:company_name@]">
					<img class="logo" src="[@config:imageurl@]/website_logo.png" alt="[@config:company_name@]"/>
				</a>
			</div>
			<div class="col-sm-8">
				<div class="navbar navbar-expand-md pr-0">
					<ul class="nav navbar-nav ml-auto d-none d-md-flex">
						[%cache type:'cmenu' id:'header-category-menu'%]
							[%categorymenu sortby:'sortorder,name' show_empty:'1'%]
								[%param *level_1%]
								<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]">
									<a href="[@url@]" class="nav-link [%if [@next_level@]%] dropdown-toggle[%/if%]">[@name@]</a>
									[%if [@next_level@]%]
										<ul class="dropdown-menu dropdown-menu-right">
											[@next_level@]
										</ul>
									[%/if%]
								</li>
								[%/param%]
								[%param *level_2%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]">
										<a href="[@url@]" class="nuhover dropdown-item">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
								[%/param%]
								[%param *level_3%]
									<li><a class="dropdown-item pl-5 pl-sm-4" href="[@url@]">[@name@]</a></li>
								[%/param%]
							[%/categorymenu%]
						[%/cache%]
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="navbar navbar-default">
					<ul class="nMobileNav">
						<li><a href="#" class="nToggleMenu" data-target=".navbar-responsive-collapse"><span class="icon"><i class="fa fa-bars"></i></span><br>
						Menu</a></li>
						<li><a href="/products"><span class="icon"><i class="fa fa-gift"></i></span><br>
						Shop</a></li>
						<li><a href="[%url page:'checkout' type:'cart'/%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span><br>
						Cart (<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span>)</a></li>
						<li><a href="/_myacct/"><span class="icon"><i class="fa fa-user"></i></span><br>
						Account</a></li>
					</ul>
					<div class="navbar-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							[%cache type:'menu' id:'header-content-menu'%]
								[%menu id:'web_header'%]
									[%param *level_1%]
										<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]" [%if [@next_level@]%]class="dropdown-toggle"[%/if%]>[@name@] [%if [@next_level@]%]<span class="caret"></span>[%/if%]</a>
											[%if [@next_level@]%]
												<ul class="dropdown-menu">
													[@next_level@]
												</ul>
											[%/if%]
										</li>
										[%/param%]
									[%param *level_2%]
										<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]" class="nuhover dropdown-toggle">[@name@]</a>
											[%if [@next_level@]%]
												<ul class="dropdown-menu dropdown-menu-horizontal">
													[@next_level@]
												</ul>
											[%/if%]
										</li>
										[%/param%]
									[%param *level_3%]
										<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a href="[@url@]">[@name@]</a>
											[%if [@next_level@]%]
												<ul class="dropdown-menu dropdown-menu-horizontal">
													[@next_level@]
												</ul>
											[%/if%]
										</li>
									[%/param%]
								[%/menu%]
							[%/ cache%]
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="main-content" class="container" role="main">
	<div class="row">
