@import url('//fonts.googleapis.com/css?family=Lato:400,300');
* {
font-family: "Raleway", Helvetica, Arial, sans-serif;
}

body {
	background-color: #ffffff /*{body|background-color}*/;
	background-image: none /*{body|background-image}*/;
	color: #333333 /*{body|text-colour}*/;
}
#main-content {
	background-color: #ffffff;
}
#main-content > .row:first-child > .col-xs-12 {
	padding-top:15px;
}
a{
	color: #000 /*{body|link-colour}*/
}
a:hover, a:active {
	color: #B3000E /*{body|link-colour-hover}*/
}
.topbar--Wrap--container {
	background-color: #eeeeee /*{header|topbar-background-colour}*/;
}
.topbar--Wrap .topbar--wrap--nav > li > a {
	color: #000 /*{header|topbar-link-colour}*/;
}
.topbar--Wrap .topbar--wrap--nav > li > a:hover,
.topbar--Wrap .topbar--wrap--nav > li > a:active {
	color: #B3000E /*{header|topbar-link-colour}*/;
}
#header-cart > a {
	color: #000 /*{header|topbar-link-colour}*/;
}
#header-cart > a:hover,
#header-cart > a:focus {
	color: #B3000E /*{header|topbar-link-colour}*/;
	text-decoration: none;
}
.checkout-link {
	color: #B3000E /*{header|topbar-link-colour}*/;
}
.wrapper-header {
	background-color: #ffffff /*{header|background-colour}*/;
	border:none;
	margin-bottom:0px;
}
.navbar {
	margin-bottom: 0;
	background-color: transparent;
	border-color: transparent;
}
@media (max-width: 767px) {
	.navbar-nav .dropdown-menu > li > a {
		color: #000 /*{header|topbar-link-colour}*/;
	}
}
.wrapper-footer {
	background-color: #eeeeee /*{footer-background-color}*/;
	color: #222222 /*{footer|text-colour}*/;
}
.wrapper-footer a{
	color: #000 /*{footer|link-colour}*/;
}
.wrapper-footer a:hover, .wrapper-footer a:active {
	color: #B3000E /*{footer|link-colour-hover}*/
}
.nav > li > a:hover, .nav > li > a:focus {
	background:rgba(0, 0, 0, 0);
}

#left-sidebar .panel {
	box-shadow: none;
}

.btn-primary {
	color: #FFFFFF;
	background-color: #000 /*{buttons|primary-colour}*/;
	border-color: #000 /*{buttons|primary-colour}*/;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #FFFFFF;
	background-color: #000 /*{buttons|primary-colour}*/;
	border-color: #000 /*{buttons|primary-colour}*/;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #337ab7 /*{buttons|primary-colour}*/;
	border-color: #337ab7 /*{buttons|primary-colour}*/;
}
.btn-success {
	color: #ffffff;
	background-color: #d66c6c /*{buttons|secondary-colour}*/;
	border-color: #d66c6c /*{buttons|secondary-colour}*/;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #d66c6c /*{buttons|secondary-colour}*/;
	border-color: #d66c6c /*{buttons|secondary-colour}*/;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
	background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #5cb85c /*{buttons|secondary-colour}*/;
	border-color: #5cb85c /*{buttons|secondary-colour}*/;
}
